<div class="row menu">
    <div class="col-1 box profile">
        <img src="{{(session$ | async).photoURL}}" width="50px">
        <p>{{(session$ | async).displayName}}</p>
    </div>
    <div class="col-1 box">
        <p [routerLink]="'movies'" routerLinkActive="active">movies</p>
    </div>
    <div class="col-1 box">
        <p [routerLink]="'series'" routerLinkActive="active">tv series</p>
    </div>
    <div class="col-1 box">
        <p>trending</p>
    </div>
    <div class="col-1 box">
        <p>people</p>
    </div>
    <div class="col-1 box" (click)="logout()">
        <p>logout</p>
    </div>
</div>

<router-outlet></router-outlet>