$small: 300px;
$medium: 900px;

.card {
    background-color: white;
    width: 90%;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 15px;
    font-family: 'Sigmar', cursive;
    
    @media screen and (min-width: $small) and (max-width: $medium) {
        margin: 15px 7px;
    }
    
    &-image {
        border-radius: 10px;
        width: 100%;
        height: 50%;
    }

    &-title {
        font-size: 1.5rem;
        color: #252525;
        cursor: pointer;

        &:hover {
            color: black;
        }
    }

    &-overview {
        font-size: 1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #1a1a1a;
    }

    &-read-more {
        cursor: pointer;
        font-weight: bold;
    }
}