<div class="center-xs overlay" *ngIf="isLoading | async">
    <div class="spinner">
        <svg width="64" height="64" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#1c86ff">
            <circle class="spinner_qM83" cx="4" cy="12" r="3" />
            <circle class="spinner_qM83 spinner_oXPr" cx="12" cy="12" r="3" />
            <circle class="spinner_qM83 spinner_ZTLf" cx="20" cy="12" r="3" />
        </svg>
        <p class="spinner-title">{{loadingMessage}}</p>
    </div>
</div>